.wp-easy-gallery-admin img {border: 0;}
.eg-table { border-spacing: 0;}
.eg-cell-spacer-80 {width: 80px;}
.eg-cell-spacer-90 {width: 90px;}
.eg-cell-spacer-115 {width: 115px;}
.eg-cell-spacer-150 {width: 150px;}
.eg-cell-spacer-136 {width: 136px;}
.eg-cell-spacer-250 {width: 250px;}
.eg-cell-spacer-340 {width: 340px;}
.eg-cell-spacer-700 {width: 700px;}
.left-float {float: left;}
.eg-right-margin input {margin-right: 15px;}

